<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
    crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="table">
        <table class="table table-responsive table-bordered">
          <thead>
            <h2>Operadores aritmeticos.</h2>
              <tr>
                <th style="background-color: aqua;">Operador</th>
                <th style="background-color: aqua;">        </th>
                <th style="background-color: antiquewhite;">Operador</th>
                <th style="background-color: antiquewhite;">        </th>
                <th style="background-color: aquamarine;">Operador</th>
                <th style="background-color: aquamarine;">        </th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>++</td>
                  <td>Incremento</td>
                  <td>--</td>
                  <td>Decremento</td>
                  <td></td>
                  <td></td>
              </tr>
              <tr>
                  <td>-</td>
                  <td>Menos Unario</td>
                  <td>      </td>
                  <td>      </td>
                  <td>      </td>
                  <td>      </td>
              </tr>
              <tr>
                  <td>*</td>
                  <td>Multiplicación</td>
                  <td>/</td>
                  <td>División</td>
                  <td>%</td>
                  <td>Modulo</td>
              </tr>
              <tr>
                <td>+</td>
                <td>Suma</td>
                <td>-</td>
                <td>Resta</td>
                <td>     </td>
                <td>     </td>
            </tr>
          </tbody>
            <table class="table table-responsive table-bordered">
              <thead>
                <h2>Operadores Lógicos</h2>
                  <tr>
                    <th style="background-color: aqua;">Operador</th>
                    <th style="background-color: aqua;">        </th>
                    <th style="background-color: antiquewhite;">Operador</th>
                    <th style="background-color: antiquewhite;">        </th>
                    <th style="background-color: aquamarine;">Operador</th>
                    <th style="background-color: aquamarine;">        </th>
                    <th style="background-color: blanchedalmond;">Operador</th>
                    <th style="background-color: blanchedalmond;">        </th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>!</td>
                      <td>Not</td>
                      <td>   </td>
                      <td>   </td>
                      <td>   </td>
                      <td>   </td>
                      <td>   </td>
                      <td>   </td>
                  </tr>
                  <tr>
                      <td>></td>
                      <td>Mayor que</td>
                      <td>>=</td>
                      <td>Mayor o igual que</td>
                      <td><</td>
                      <td>Menor que</td>
                      <td><=</td>
                      <td>Menor o igual que</td>
                  </tr>
                  <tr>
                      <td>==</td>
                      <td>Igual</td>
                      <td>!=</td>
                      <td>No igual</td>
                      <td>       </td>
                      <td>     </td>
                      <td>   </td>
                      <td>   </td>
                  </tr>
                  <tr>
                    <td>&&</td>
                    <td>And</td>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                    <td>   </td>
                </tr>
                <tr>
                  <td>||</td>
                  <td>Or</td>
                  <td>   </td>
                  <td>   </td>
                  <td>   </td>
                  <td>   </td>
                  <td>   </td>
                  <td>   </td>
              </tr>
              </tbody>
            </table>   
          </div> 
        </div>

        <div class="card">
          <div class="card-header">
            Matarife.jS
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>Matarife es un lenguaje de programación creado por Mateo gomez en el backend, Diogenes Arrieta en el frontend 
                 y Yesid rodriguez como desarrollador y testing. 
                Como proyecto de ultimo seguimiento en la asignatura de Compiladores e Intérpretes, 
                impartida por el Docente e Ingeniero de sistemas Daniel González Polo, en la Universidad del Magdalena.
                El lenguaje está basado en una gramática muy sencilla y de fácil escritura, a continuación, veremos aspectos importantes de este:   
                </p>
              <p>1.	Tipos de datos
                1.1. Entero (E), Flotante (F), String (S)   
                1.2. La forma de declarar las variables en Matarife.jS es: 
                      (E) número 
                      (F) Flotante
                      (S) cadena
                </P>
                <p>1.3. Operador de asignación
                  El operador de asignación es el (=), como en la mayoría de los lenguajes de programación existentes.</p>

                <p>3. Sentencias
                3.1. Sentencia de control si/sino/sino si.
                 si (expresión lógica) {
                 !instrucciones!
                 }
                 sino {
                 !instrucciones!
                 }"
                </p>
                <p>
                  4. Bucles
                  4.1. Bucle para/H/MQ
                  Para: 
                  P  (i=n; i&lt;número; i++) {
                   !instrucciones!
                   }
              
                  H (Hacer):
                  H{
                    !instrucciones!
                  }MQ( expresión lógica );

                  MQ (Mientras Que):
                  MQ (expresión lógica) {
                   !instrucciones!
                  }
                </p>
              <div>
                <center><a class="btn btn-primary" href="{% url 'index' %}">Regresar</a></center>
              </div>

              <footer class="blockquote-footer">Compiladores e <cite title="Source Title"> Intérpretes</cite></footer>
            </blockquote>
          </div>
        </div>


        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" 
        crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
        crossorigin="anonymous"></script>
</body>
</html>